.Rproj.user
.Rhistory
.RData
.Ruserdata
*.RData
RData/
Treatment_Info_R.csv
01_Treatment-info_v000.csv
ldc-data-2026-06-01
all_aero_AIM_LMF_20260610.csv
04_Treatment-info_v001.csv
06_LDC-points_v002.csv
002_Prescribed-fires-missing_export.csv.xml
004_LDC003-Wildfires004-SpatialJoin_export.csv
004_Overlapping-fires-table_export.csv
data/raw/tblNationalPlants
14.3_geoindicators.csv
